{% extends 'index.html' %}
{% block body %}
<div class="container11">
    <div class="frame11">
        <h2>SSC</h2>
        <p><strong>Shri Ketkeshwar Highschool Nimgoan Ketki Indapur</strong></p>
        <p><strong>2018</strong></p>
        <p><strong>85.20 %</strong>  Percentage</p>
    </div>
    <div class="frame11">
        <h2>HSC</h2>
        <p><strong>Shri Narayandas Ramdas Junior college Indapur </strong></p>
        <p><strong>2020</strong></p>
        <p><strong>65.85</strong>  Percentage</p>
    </div>
    <div class="frame11">
        <h2>Bachelor of Engineering</h2>
        <p><strong>Computer Science</strong></p>
        <p><strong>Vidya Prathishtan Kamalnayan Bajaj Institute Engineering and Technology Baramati </strong></p>
        <p><strong>2021-2024</strong></p>
        <p><strong>8.27</strong>  CGPA</p>
    </div>
</div>

{% endblock %}