{% extends 'index.html' %}
{% block body %}

      <div class="card2">
        <h2>Data Analytics and Visualization Job Simulation (Accenture):</h2>
        <ul>
          <li>Completed a real-world simulation focused on data analytics and visualization tasks.</li>
          <li>Gained practical experience in data modeling, data interpretation, and data-driven decision-making.</li>
        </ul>
      </div>
      
      <div class="card2">
        <h2>Power BI Job Simulation (PWC):</h2>
        <ul>
          <li>Analyzed call center trends, customer retention, and diversity & inclusion using Power BI.</li>
          <li>Created visualizations and actionable insights to support business decisions.</li>
          <li>Demonstrated proficiency in DAX, report generation, and business team interactions.</li>
        </ul>
      </div>

      <div class="card2">
        <h2>Web Development (InternPe):</h2>
        <ul>
          <li>Built a fully functional calculator with interactive features using HTML, CSS, and JavaScript.</li>
          <li>Designed and implemented a responsive landing page for an e-commerce site.</li>
          <li>Created a professional single-page website for a company's placement drive.</li>
        </ul>
      </div>



{% endblock %}