{% extends 'index.html' %}
{% block body %}

<div class="container7">
    <div class="frame7">
        <h2>Desktop Voice Assistant (Python)</h2>
        <p><strong>-</strong> Developed a voice-controlled assistant for efficient task execution.</p>
        <p><strong>-</strong> Integrated voice recognition for enhanced user productivity and comfort.</p>
    </div>
    <div class="frame7">
        <h2>Hospital Management System</h2>
        <p><strong>-</strong> Streamlined patient care and administrative tasks through a web-based system.</p>
        <p><strong>-</strong> Implemented features for registration, appointment scheduling, and medical record management.</p>
    </div>
    <div class="frame7">
        <h2>Driver Drowsiness Detection System (YOLOv8)</h2>
        <p><strong>-</strong> Created a real-time system to identify driver fatigue using YOLOv8.</p>
        <p><strong>-</strong> Utilized advanced object detection for driver alertness monitoring and alert issuance.</p>
    </div>
    <div class="frame7">
        <h2>Sales Performance Analysis (Power BI)</h2>
        <p><strong>-</strong> Analyzed sales data to identify trends and KPIs.</p>
        <p><strong>-</strong> Developed Power BI dashboards for insights into sales performance and revenue forecasting.</p>
    </div>
    <div class="frame7">
        <h2>Healthcare Data Analysis (Power BI)</h2>
        <p><strong>-</strong> Analyzed patient data to identify disease trends and treatment efficacy.</p>
        <p><strong>-</strong> Created dashboards and reports for healthcare decision-making.</p>
        <p><strong>-</strong> Provided actionable insights to improve patient care and treatment protocols.</p>
    </div>
</div>

{% endblock %}